<!--
 * item-list.ejs: HTML File to list all the items in the items table.
 * @author: Deepthi Warrier
 * @date: 22/May/2020 
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>View Items</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>  
</head>
<body class="bg-dark">
    <div class="container">
        <h2 class = "text-info text-center">Items Available in the Inventory</h2>
                
        <table border="1" class = "table table-dark table-striped">
            <tr class="text-warning">
                <th>S.No</th>
                <th>Item Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price Per Item</th>                     
            </tr>
            
            <%
            if(itemData.length!=0){
            var i=1;
            itemData.forEach(function(data){
            %>
            <tr>
                <td><%=i; %></td>
                <td><%=data.itemName %></td>
                <td><%=data.categoryName %></td>
                <td><%=data.quantity %></td>
                <td><%=data.pricePerItem %></td>                                 
            </tr>
            <%  i++; }) %>
            <% } else{ %>
                <tr>
                    <td colspan="7">No Items Found</td>
                </tr>
            <% } %>
        </table>
        <a href="index">Return to the Main Page</a>    
    </div>
</body>
</html>